.TodoListItem {
  display: flex;
  padding: 1rem;
  align-items: center;

  &:nth-child(even) {
    background: #f8f8f8;
  }

  .remove {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: #f16b82;
  }

  .checkbox {
    margin-right: 0.5rem;
    align-items: center;

    .text {
      display: flex;
      font-size: 1.2rem;
      align-items: center;
      margin-right: 0rem;
      float: left;

      .icon {
        margin-left: 10rem;
        cursor: pointer;
      }
    }

    svg {
      font-size: 1.5rem;
    }

    &.checked {
      .text {
        display: flex;
        flex: 1;
        text-decoration: line-through;
        color: gray;
      }
      svg {
        color: #aaaa88;
      }
    }
  }

  & + & {
    border-top: 1px solid #dee2e6;
  }
}
